{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ted - The Trader</title>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="{% static 'css/icon.css' %}" >

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TweenMax.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/plotly-latest.min.js' %}"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body style="opacity: 0" >
    <ul id="slide-out" class="side-nav fixed">
        <a href="#" data-activates="slide-out" class="waves-effect waves-light flex-row flex-center-both hide-on-large-only" id="nav-close">
            <i class="material-icons">close</i>
        </a>
        <li>
            <div class="user-view flex-col flex-center-both">
                <!-- <img src='<%=userImage%>'> -->
                <span class="name">Trader Ted</span>
            </div>
        </li>
        <li>
            <a href="/question" class="waves-effect waves-light">
                <i class="material-icons">assignment</i> Assets
            </a>
        </li>
        <li>
            <a href="/leaderboard" class="waves-effect waves-light">
                <i class="material-icons">format_list_numbered</i> Profile
            </a>
        </li>
        <li>
            <a href="/logout" class="waves-effect waves-light">
                <i class="material-icons">power_settings_new</i> Logout
            </a>
        </li>
    </ul>

    <header class="flex-row flex-center-both">
        <a href="#" data-activates="slide-out" class="waves-effect waves-light flex-row flex-center-both hide-on-large-only" id="nav-open">
            <i class="material-icons">menu</i>
        </a>
        <span class="site-title"><a href="/profiles/home">Trader Ted</a></span>
        <!-- <span class="title"><a href="/"><img src="images/topcoder-logo.png"></a></span> -->
    </header>

    <main class="flex-col flex-center-both">

        <div class="wrapper flex-col flex-center-cross">
            <div id="home" class="app-container flex-col">
                <div class="user-stats-container flex-row">
                    <div id="" class="app-card user-stats">
                        <i class="material-icons">filter_9_plus</i>
                        <span class="flex-col">
                            <p class="stat-value">10</p>
                            <p class="stat-message">Assets in hold</p>
                        </span>
                    </div>
                    <div id="" class="app-card user-stats">
                        <i class="material-icons">attach_money</i>
                        <span class="flex-col">
                            <p class="stat-value">1000.3</p>
                            <p class="stat-message">Net Value</p>
                        </span>
                    </div>
                    <div id="" class="app-card user-stats">
                        <i class="material-icons">iso</i>
                        <span class="flex-col">
                            <p class="stat-value">100</p>
                            <p class="stat-message">Net Profit/Loss</p>
                        </span>
                    </div>
                    <!-- <div id="" class="app-card user-stats">
                    </div> -->
                </div>
                <div class="stats-assets-divider"></div>
                <div class="stats-assets-container flex-row">
                    <div id="" class="app-card user-asset">
                        <span class="asset-image">
                            <i class="material-icons large">monetization_on</i>
                        </span>
                        <p class="asset-name">Ripple (XRP)</p>
                        <p class="current-price">0.89$</p>
                        <p class="change">-9% (24h)</p>
                    </div>
                    <div id="" class="app-card user-asset">
                    </div>
                </div>                
            </div>
        
            <!-- Modal Structure -->
            <div class="app-modal">
                <span class="modal-close waves-effect waves-dark">
                    <i class="material-icons">close</i>
                </span>
                <div id="graph-modal-content" class="modal-content"></div>
            </div>
        </div>
    </main>

    <div id="voice-widget-container">
        <div id="voice-text-container" class="flex-row flex-center-both">
            <p></p>
        </div>
        <div id="voice-control-button-container">
            <button class="btn-floating btn-large waves-effect waves-light fixed">
                <i class="medium material-icons">mic</i>
            </button>
        </div>
    </div>

    <!-- Scripts that require the DOM to be loaded. So just to be safe loaded these here. -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>