{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ted - The Trader</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <body>
        <ul id="slide-out" class="side-nav fixed">
            <a href="#" data-activates="slide-out" class="waves-effect waves-light flex-row flex-center-both hide-on-large-only" id="nav-close">
                <i class="material-icons">close</i>
            </a>
            <li>
                <div class="user-view flex-col flex-center-both">
                    <!-- <img src='<%=userImage%>'> -->
                    <span class="name">Ted</span>
                </div>
            </li>
            <li>
                <a href="/question" class="waves-effect waves-light">
                    <i class="material-icons">assignment</i> Assets
                </a>
            </li>
            <li>
                <a href="/leaderboard" class="waves-effect waves-light">
                    <i class="material-icons">format_list_numbered</i> Profile
                </a>
            </li>
            <li>
                <a href="/logout" class="waves-effect waves-light">
                    <i class="material-icons">power_settings_new</i> Logout
                </a>
            </li>
        </ul>

        <header class="flex-row flex-center-both">
            <a href="#" data-activates="slide-out" class="waves-effect waves-light flex-row flex-center-both hide-on-large-only" id="nav-open">
                <i class="material-icons">menu</i>
            </a>
            <span class="site-title"><a href="index.html">Trade With Ted</a></span>
            <!-- <span class="title"><a href="/"><img src="images/topcoder-logo.png"></a></span> -->
        </header>

    <header class="flex-row flex-center-both">
        <a href="#" data-activates="slide-out" class="waves-effect waves-light flex-row flex-center-both hide-on-large-only" id="nav-open">
            <i class="material-icons">menu</i>
        </a>
        <span class="site-title"><a href="index.html">Ted</a></span>
        <!-- <span class="title"><a href="/"><img src="images/topcoder-logo.png"></a></span> -->
    </header>

    <main class="flex-col flex-center-both">

        <div class="wrapper flex-col flex-center-cross">
            <div id="home" class="app-container flex-col flex-center-both">
                <div id="myDiv"></div>
            </div>
        </div>
    </main>

    <div id="voice-widget-container">
        <div id="voice-text-container" class="flex-row flex-center-both">
            <p></p>
        </div>
        <div id="voice-control-button-container">
            <button class="btn-floating btn-large waves-effect waves-light fixed">
                <i class="medium material-icons">mic</i>
            </button>
        </div>
    </div>

<!-- Scripts that require the DOM to be loaded. So just to be safe loaded these here. -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotgraph.js' %}"></script>
</body>
</html>