body#login {
    @include flexCol;
    @include flexCenterCross;

    header {
        left: 0;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
    }
}

#login-form {
    width: 320px;
    background-color: white;
    border-radius: 4px;
    padding: 64px 32px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
}

@media only screen and (min-width: 993px) {
    body#login {
        padding-left: 0;
        
        header {
            left: 0;
            width: 100%;
        }
    }

}